.navbar {
    background-color: #FFFFFF;
    padding: 10px;
    font-size: 15px;
    line-height:1.5;
    font-family: Open Sans,sans-serif;
  
  }
  .nav-cont{
    max-width:1344px;
    margin: auto;
    display:flex;
  }
  .nav-start{
    margin:1rem;

  }
  .nav-cta{
    display: block;
  text-align: left!important;
  }
  .nav-ul{

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  a:hover {
    color: #61dafb;
  }
  .nav-left{
    
  }